@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: white;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #181414;
    img {
        width: 10%;
    }
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
button {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.botao-acessar {
    background-color: #db2a33;
    border: none;
}
.botao-entrar {
    background-color: #141414;
    border: solid white 1px;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
}
.container-titulo {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 25vh;
    img {
        width: 4;
    }
}
.container-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 50%;
}
h1 {
    font-size: 3vw;
}
h2 {
    font-size: 3vw;
    font-weight: normal;
}
.container-episodios {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 55vh;
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 18vw;
        height: 100%;
        img {
            height: 55%;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    p {
        font-size: 1vw;
    }
}
h3 {
    font-size: 1.5vw;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #181414;
    img {
        height: 70%;
    }
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    a {
        font-size: 2vh;
    }
}